In [1]:
#importing python libraries
import pandas as pd
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
from bs4 import BeautifulSoup

# NASA Mars News

In [2]:
#setting up url
url = "https://mars.nasa.gov/news/"

In [3]:
#opening website in chrome for scraping
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
#using visit attribute to explore the url
browser.visit(url)

In [5]:
#checking available attributes
dir(browser)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_cookie_manager',
 'attach_file',
 'back',
 'check',
 'choose',
 'click_link_by_href',
 'click_link_by_id',
 'click_link_by_partial_href',
 'click_link_by_partial_text',
 'click_link_by_text',
 'cookies',
 'driver',
 'driver_name',
 'element_class',
 'evaluate_script',
 'execute_script',
 'fill',
 'fill_form',
 'find_by',
 'find_by_css',
 'find_by_id',
 'find_by_name',
 'find_by_tag',
 'find_by_text',
 'find_by_value',
 'find_by_xpath',
 'find_link_by_href',
 'find_link_by_partial_href',
 'find_link_by_partial_text',
 'find_link_by_text',
 'find_option_by_text',
 'find_option_by_value',
 'forward',
 'full_screen',
 'get_alert',
 'get_iframe',
 'html',
 'html_snapshot',
 'is_element_not_present',
 'is_element_not_present_by_css',
 'is_element_not_present_by_id',
 'is_element_not_present_by_name',
 'is_element_not_present_by_tag',
 'is_element_not_present_by_text',
 'is_element_not_present_by_value',
 'is_element_not_present_by_xpath',
 'is_element_not_visible',
 'is_element_not_visible_by_css',
 'is_element_not_visible_by_xpath',
 'is_element_present',
 'is_element_present_by_css',
 'is_element_present_by_id',
 'is_element_present_by_name',
 'is_element_present_by_tag',
 'is_element_present_by_text',
 'is_element_present_by_value',
 'is_element_present_by_xpath',
 'is_element_visible',
 'is_element_visible_by_css',
 'is_element_visible_by_xpath',
 'is_text_not_present',
 'is_text_present',
 'ori_window_size',
 'quit',
 'recover_screen',
 'reload',
 'screenshot',
 'select',
 'select_by_text',
 'status_code',
 'title',
 'type',
 'uncheck',
 'url',
 'visit',
 'wait_time',
 'windows']

In [51]:
#scraping news, date, title and paragraph (p), saving as variables for later as requested
news = soup.find("div", class_='list_text')
news_date = news.find("div", class_ ="list_date").text
news_title = news.find("div", class_="content_title").text
news_p = news.find("div", class_ ="article_teaser_body").text
print(news_date)
print(news_title)
print(news_p)

August 28, 2019
NASA Invites Students to Name Mars 2020 Rover
Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover.

# JPL Mars Space Images - Featured Image

In [93]:
#setting up url, beautiful soup
image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(image_url)
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [94]:
featured_image_url = "https://www.jpl.nasa.gov" + soup.find("img", class_="thumb")["src"]

print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23345-640x350.jpg

In [96]:
featured_image_date = soup.find("h3", class_="release_date").text
print(featured_image_date)

August 23, 2019

In [97]:
featured_image_title = soup.find("img", class_="thumb")["title"]
print(featured_image_title)

Rolling Stones Rock (Animation)

# Mars Weather

In [98]:
#setting up twitter url
weather_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(weather_url)
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [99]:
#scraping latest data... unfortunately there's no data at the moment...
weather = soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
print(weather)

We won’t be hearing from @MarsCuriosity or @NASAInSight for the next 2 weeks during Mars solar conjunction. Read more about why Mars missions go silent every 2 years: https://www.wral.com/mars-spacecraft-go-quiet-during-solar-conjunction/18595551/ …pic.twitter.com/fWruE2v151

In [105]:
weather_date = soup.find("span", class_="_timestamp js-short-timestamp").text
print(weather_date)

Aug 27

# Mars Facts

In [120]:
#setting up facts url
facts_url = 'https://space-facts.com/mars/'
#used the read_html function in Pandas to automatically scrape any tabular data from a page.
tables = pd.read_html(facts_url)
tables

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [121]:
type(tables)

list

In [123]:
#converting list to data frame
df = tables[0]
df.columns = ['Mars - Earth Comparison', 'Mars', 'Earth']
df.head(100)

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C

In [124]:
#Pandas also had a to_html method that we can use to generate HTML tables from DataFrames.
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Temperature:</td>\n      <td>-153 to 20 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [125]:
#saving the table directly to a file.
df.to_html('table.html')

# Mars Hemispheres